@import url(reset.css);

.bm_banner_image {
    height: 256px;
    object-fit: cover;
    border-radius: 15px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.bm_banner_wrapper {
    overflow: hidden;
    border-radius: 15px;
    height: 256px;
}

.bm_banner_area {
  position: absolute;
  width: 1200px;
  height: 256px;
  display: flex;
  flex-direction: column;
}

.bm_banner_area_wrapper {
  position: relative;
  width: 1200px;
  height: 256px;
  display: flex;
  flex-direction: column;
  top: -260px;
}

.bm_status_wrapper {
  width: 225px;
  background-color: #901F42;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  border-radius: 13px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.bm_status_text {
  font-size: 24px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.bm_metadata {
  border-radius: 13px;
  background-color: #5F474A;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.bm_metadata_title {
  font-size: 42px;
  font-weight: 700;
}

.bm_metadata_artist {
  font-size: 28px;
  font-weight: 700;
}

.bm_creation_info {
  border-radius: 13px;
  background-color: #901F42;
  min-width: 260px;
  height: 70px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  width: fit-content;
  padding-right: 5px;
}

.bm_creation_info_avatar {
  border-radius: 13px;
  width: 64px;
  height: 64px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

.bm_creation_info_text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  margin-left: 5px;
}

.bm_buttons_wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.bm_button {
  background-color: #901F42;
  display: flex;
  width: 140px;
  height: 70px;
  border-radius: 13px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  transition: background-color 150ms;
  margin-left: 10px;
}

.bm_button:hover {
  cursor: pointer;
  background-color: #e02f64;
}

.bm_lower_panel_wrapper {
  display: flex;
  flex-direction: row;
}

.bm_diff_area {
  display: flex;
  flex-direction: row;
  width:550px;
  height: 250px;
  margin-left: 50%;
  flex-flow: row wrap;
}

.bm_difficulty {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #36911F;
  padding: 4px;
  margin-left: 5px;
  min-width: 64px;
  width: fit-content;
  line-height: 24px;
  border-radius: 10px;
  height: 24px;
}

.bm_diff_wrapper {
  height: 24px;
}

.bm_description {
  width: 800px;
  height: 300px;
  background: #5F474A;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
flex-direction: column;

}

.bm_underpanel {
  display: flex;
  flex-direction: column;
  position: static;
}