@import url(reset.css);

.dashboard_profinfo {
    background: #241A1B;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 275px;
    height: 350px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashboard_subdiv_title {
    background-color: #5F474A;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    width: 260px;
}

.dashboard_subdiv_label {
    font-size: 18px;
    padding: 10px;
}

.dashboard_label_value_wrapper {
    background: #35282a;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 240px;
    text-align: center;
    height: 42px;
    padding: 5px;
}

.dashboard_subdiv_username,
.dashboard_subdiv_country {
    font-size: 18px;
}


.dashboard_avatarupload_wrapper {
    background: #35282a;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 128px;
    height: 132px;
    text-align: center;
    padding: 5px;
}

.dashboard_avatarupload_avatar {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-top: 5px;
}