.footer {
    margin-top: 100px;
    background-color: #2A2021;
    display: flex;
    justify-content: center;
}

.footer_content {
    background: #5F474A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
width: 1000px;
display: flex;
justify-content: center;
}