@import url(reset.css);

.header {
  display: flex;
  margin: 0 auto;
  width: 1250px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 700px;
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_profile_image {
}

.menu_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu_list_item {
}

.menu_list_item_link {
}
