@import url(reset.css);

header {
  display: flex;
  margin: 0 auto;
  width: 1350px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  width: 800px;
}

.menu_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
