@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

.header {
  display: flex;
  margin: 0 auto;
  width: 1250px;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  background-color: #a8234c;
  border-radius: 13px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  border-radius: 13px 0px 0px 13px;
  background-color: #c0424e;
  line-height: 55px;
  width: 120px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.logo_wrapper {
  text-align: center;
}

.menu {
  width: 850px;
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_profile_image {
  width: 42px;
  height: 42px;
  border-radius: 25%;
  vertical-align: middle;
  margin-right: 7px;
  position: relative;
}

.menu_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu_list_item {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 55px;
  background-color: #a8234c;
  cursor: pointer;
  transition: background-color 150ms linear;
}

.menu_list_item:hover {
  background-color: #e02f64;
}

.menu_list_item_link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: white;
}

.login_panel {
  background: #2A2021;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 320px;
  height: 200px;
  position: absolute;
  top: 12%;
  left: 66.5%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_panel_header {
  color: white;
  font-family: "Quicksand";
}
