@import url(reset.css);
@import url(reset.css);

.banner_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.banner_image {
  width: 1250px;
  height: 225px;
  object-fit: cover;
  object-position: -50%;
  border-radius: 13px 13px 0px 0px;
}
