@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.banner_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.banner_image {
  width: 1250px;
  height: 235px;
  object-fit: cover;
  object-position: -50%;
  border-radius: 15px 15px 0px 0px;
  margin-top: 20px;
}

.main_content,
.playtest_content,
.register_content,
.user_content,
.leaderboard_content,
.user_content,
.beatmap_content {
  padding: 20px;
  background-color: #2a2021;
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.register_content {
  flex-direction: column;
}

.main_content {
  height: fit-content;
}

.leaderboard_content {
  flex-direction: column;
}

.user_content {
  height: 1120px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
