@import url(header.css);
@import url(reset.css);
@import url(main.css);
@import url(form.css);

body {
  background-color: #241a1b;
  margin-top: 50px;
}

.home_info_heading_wrapper {
  width: 720px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_info_text {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}

.home_news_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_news_heading_wrapper {
  width: 320px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info {
  margin-right: 100px;
}

.home_info,
.home_news {
  margin-top: 25px;
}

.home_news_title {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 5px;
}

.home_news_text {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.home_news_divider {
  border: none;
  border-top: 4px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user_card {
  background-color: #a8234c;
  width: 260px;
  height: 430px;
  border-radius: 13px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  resize: both;
}

.user_card_name {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

.user_card_avatar {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.user_card_badge {
  width: 86px;
  height: 35px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.user_card_badges_wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  justify-content: center;
  width: 100%;
}

.user_card_player_title {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 21px;
  margin-top: 10px;
}

.user_card_ranking {
  box-shadow: inset 0px 2px 7px 5px rgba(0, 0, 0, 0.25);
  height: 70px;
  width: 220px;
  border-radius: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #8b1d3e;
}

.user_card_ranking_rank,
.user_card_ranking_level {
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 21px;
}

/* <editor-fold desc="Search bar"> */
.inputbar_wrapper {
  background-color: #a8234c;
  border-radius: 15px;
  height: 50px;
  padding-left: 18px;
  padding-right: 9px;
  display: flex;
  vertical-align: center;
  align-items: center;
  margin: 14px 27px 14px 27px;
}

.inputbar_label {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 150px;
  padding-right: 15px;
  padding-bottom: 3px;
}

.inputbar_text {
  color: white;
  font-size: 24px;
  background: #901f42;
  width: 90%;
  height: 39px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-left: 15px;
  border: black;
}

#inputbar_ranking_search {
  margin-bottom: 27px;
}
/* </editor-fold> */
