@import url(header.css);
@import url(reset.css);
@import url(main.css);
@import url(playtest_form.css);

body {
  background-color: #241a1b;
  margin-top: 50px;
}

.home_info_heading_wrapper {
  width: 720px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_news_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_news_heading_wrapper {
  width: 320px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info {
  margin-right: 25px;
}

.home_news {
}
