@import url(header.css);
@import url(reset.css);
@import url(main.css);
@import url(form.css);

body {
  background-color: #241a1b;
  margin-top: 50px;
}

.home_info_heading_wrapper {
  width: 720px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_info_text {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
}

.home_news_heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 65px;
  text-align: center;
  margin: 0 auto;
}

.home_news_heading_wrapper {
  width: 320px;
  height: 65px;
  background-color: #a8234c;
  border-radius: 15px;
}

.home_info {
  margin-right: 100px;
}

.home_info,
.home_news {
  margin-top: 25px;
}

.home_news_title {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 5px;
}

.home_news_text {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.home_news_divider {
  border: none;
  border-top: 4px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* <editor-fold desc="Search bar"> */
.inputbar_wrapper {
  background-color: #a8234c;
  border-radius: 15px;
  height: 50px;
  padding-left: 18px;
  padding-right: 9px;
  display: flex;
  vertical-align: center;
  align-items: center;
  margin: 14px 27px 14px 27px;
}

.inputbar_label {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 150px;
  padding-right: 15px;
  padding-bottom: 3px;
}

.inputbar_text {
  color: white;
  font-size: 24px;
  background: #901f42;
  width: 90%;
  height: 39px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding-left: 15px;
  border: black;
}

#inputbar_ranking_search {
  margin-bottom: 27px;
}
/* </editor-fold> */

.leaderboard_players_wrapper {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}

.leaderboard_player {
  height: 36px;
  width: 100%;
  background: #5F474A;
  border: 1px solid #000000;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 3px;
  display: flex;
  vertical-align: center;
  text-align: center;
  align-items: center;
}

.leaderboard_player_large {
  height: 93px;
}

.leaderboard_player_rank {
  color: white;
  line-height: 28px;
  padding-left: 15px;
  padding-right: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  /*text-align: center;*/
}

.leaderboard_player_large .leaderboard_player_rank {
  font-size: 36px;
  line-height: 42px;
  padding-top: 25px;
}

.leaderboard_player_avatar {
  width: 32px;
  height: 32px;
  border-radius: 15px;
}

.leaderboard_player_large .leaderboard_player_avatar {
  width: 82px;
  height: 82px;
  border-radius: 15px;
}

.leaderboard_player_name {
  color: white;
  line-height: 21px;
  padding-left: 15px;
  padding-right: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
}

.leaderboard_player_large .leaderboard_player_name {
  line-height: 28px;
  font-size: 24px;
  padding-top: 32px;
}

.leaderboard_player_flag {
  width: 24px;
  height: 24px;
}

.leaderboard_player_large .leaderboard_player_flag {
  width: 64px;
  height: 64px;
}
