
@using Oldsu.Web

@{
    Layout = "BaseLayout";
}
<div class="banner_wrapper">
    <img src=@PathCorrection.Correct("/resources/image/banner.png") alt="oldsu! banner" class="banner_image">
</div>

@RenderBody()