
@using Oldsu.Web.Pages
@model BaseLayout

@{ await Model.AuthenticateUserSession(); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/resources/css/styles.css" rel="stylesheet">
    <title>oldsu!</title>
</head>
<body>
<div class="header_wrapper">
    <header class="header">
        <div class="logo_wrapper">
            <h1 class="logo">oldsu!</h1>
        </div>
        <div class="menu_wrapper">
            <nav class="menu">
                <ul class="menu_list">
                    @foreach (var item in BaseLayout.PageMenuItems)
                    {
                        <li class="menu_list_item">
                            <a class="menu_list_item_link" href="@item.Link">@item.PageName</a>
                        </li>
                    }
                </ul>
            </nav>
        </div> 
        @{
            if (Model.AuthenticatedUserInfo != null)
            {
                <a class="user_profile_link">
                    <img src="resources/image/paimon.jpg" alt="upl" class="user_profile_image">
                </a>
            }
            else
            {
                <a class="user_profile_link">
                    <a href="#" onclick="toggleDropdown()" class="sign_in_button">
                        Sign In &#9660; 
                    </a>
                </a>
                <form onsubmit="return formCallback()" class="login_panel" id="login_panel_dropdown" action="/" method="post" name="login_form">
                    <h3 class="login_panel_header">Please sign in</h3>
                    <input class="login_panel_input" type="text" name="username" id="username_input" placeholder="username" required>
                    <input type="password" class="login_panel_input" id="password" name="password" placeholder="Password" required>
                    <input type="submit" class="login_panel_button" id="login_submit" name="login_submit" value="Sign In">
                
                    <a href="#" class="login_panel_linktext">Register</a>
                    <a href="#" class="login_panel_linktext">I forgot my password</a>
                </form>
            }
        }
    </header>
</div>
<main>
    @RenderBody()
</main>
</body>
</html>

<script src="/resources/js/sha256_helper.js"></script>

<script>
    function formCallback() {
        const passwordField = document.getElementById("password")
        passwordField.value = sha256(passwordField.value);
    }
    
    function toggleDropdown() {
        document.getElementById("login_panel_dropdown").classList.toggle("show");
    }
</script>