@page "/change_password"
@using Oldsu.Web
@model Oldsu.Web.Pages.ChangePassword

@{
    Layout = "BaseLayout";
}

<div class="register_content">
    @if (Model.PasswordChangeResult == null)
    {
        <div class="form_wrap">
            <div class="form_heading_wrapper">
                <h2 class="form_heading">Change password</h2>
            </div>

            <form onsubmit="return formCallback()" method="post" class="form">
                @Html.AntiForgeryToken()
                <input type="password" class="form_password" id="password" name="password" placeholder="Password" required>
                <input type="password" class="form_cnf-password" id="confirmpassword" name="cnf-password" placeholder="Confirm Password" required>
                <input type="hidden" name="token" value="@Model.Token">
                <input type="submit" class="form_submit_button" id="register_submit" name="register_submit" value="Change password">
            </form>

        </div>
    }
    else
    {
        <div class="register_result">
            <span class="material-icons">error</span>
            <p>@Model.PasswordChangeResult</p>
        </div>
    }
</div>

<script src=@PathCorrection.Correct("/resources/js/sha256_helper.js")></script>
<script>
function formCallback() {
    const passwordField = document.getElementById("password")
    const confirmPasswordField = document.getElementById("confirmpassword")
    
    if (!validateForm(passwordField.value, confirmPasswordField.value))
        return false;
    
    passwordField.value = sha256(passwordField.value);
    confirmPasswordField.value = passwordField.value
    
    return true;
}

function validateForm(password, confirmPassword) {
    if (password.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/) == null)
    {
        alert("The password must contain minimum eight characters, at least one uppercase letter, " +
              "one lowercase letter and one number.")
        return false
    }
    
    if (confirmPassword !== confirmPassword) {
        alert("The passwords do not match.")
        return false
    }
    
    return true;
}
</script>