@page "/change_email"
@using Oldsu.Web
@model Oldsu.Web.Pages.ChangeEmail

@{
    Layout = "BaseLayout";
}

<div class="register_content">
        <div class="register_result">
            <span class="material-icons">error</span>
            <p>@Model.ChangeEmailResult</p>
        </div>
</div>