@page "/dashboard/changePassword"
@model Oldsu.Web.Pages.ChangePasswordRequest

@{
    Layout = "BaseLayout";
}
<div class="register_content">

<div class="register_result">
    <span class="material-icons">error</span>
    <p>An email with the link to change the password has just been sent to your email address.</p>
</div>
</div>