@page "/forgot_password"
@model Oldsu.Web.Pages.ForgotPassword

@{
    Layout = "BaseLayout";
}


<div class="register_content">

    @{
        if (@Model.Submitted)
        {
            <div class="register_result">
                <span class="material-icons">error</span>
                <p>If the email address you specified is linked to an account, you will find the mail in your inbox.</p>
            </div>
        }
        else
        {
            <div class="form_wrap">
                <div class="form_heading_wrapper">
                    <h2 class="form_heading">I forgot my password</h2>
                </div>
                <div class="form_top_info">
                    <p>
                        By submitting this form, you will be sent a link to your email where you will be able to change your password
                    </p>
                </div>
        
                <form method="post" name="register_form" class="form">
                    <input type="email" class="form_email" id="email" name="email" placeholder="E-Mail" required>
                    <input type="submit" class="form_submit_button" id="register_submit" name="register_submit" value="Request password reset">
                </form>
            </div>
        }
    }
</div>