@page "/team"
@model Oldsu.Web.Pages.TeamPage

@{
    Layout = "BaseLayoutWithBanner";
}

<div class="main_content">
    <div class="home_info">
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Maintainers</h2>
        </div>
        <ul>
            <li><b>Eeveelution</b> - Creator, backend developer and former owner of oldsu!</li>
            <li><b>marshallracer</b> - Current owner of oldsu!</li>
            <li><b>ayyEve</b> - Backend Developer and server host</li>
            <li><b>jiniux</b> - Backend Developer and the current lead developer of oldsu!</li>
            <li><b>miau</b> - Backend Developer</li>
        </ul>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Developers &amp; Contributors</h2>
        </div>
        <ul>
            <li><b>ArNeN</b> - Frontend Developer</li>
            <li><b>TheSkyfox</b> - Frontend Designer & Developer</li>
            <li><b>jvyden</b> - Frontend Developer and Linux Compatibility Tester</li>
            <li><b>Flux3on</b> - Frontend Developer</li>
            <li><b>sech1p</b> - Web contributor and literally osu!Archive</li>
            <li><b>Reo</b> - Web contributor and tournament GFX wizard</li>
            <li><b>DeathByDarwin</b> - Inheriting Section Compatibility on 2008 Client</li>
            <li><b>Kyuunex</b> - Linux Compatibility Tester</li>
        </ul>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Global Moderation Team</h2>
        </div>
        <ul>
            <li><b>marshallracer</b></li>
            <li><b>ayyEve</b></li>
            <li><b>Demotivated Madman</b></li>
            <li><b>TheSkyfox</b></li>
            <li><b>witorudo</b></li>
            <li><b>ArNeN</b></li>
            <li><b>Bassmaster</b></li>
        </ul>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Beatmap Approval Team</h2>
        </div>
        <ul>
            <li><b>marshallracer</b></li>
            <li><b>Flux3on</b></li>
            <li><b>Bashy</b></li>
            <li><b>Bassmaster</b></li>
            <li><b>Kaeldori</b></li>
            <li><b>MyAngelFlandre</b> (Taiko)</li>
            <li><b>yuki_momoiro722</b> (Taiko)</li>
            <li><b>Aljotzi</b> (Taiko)</li>
        </ul>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Alumni</h2>
        </div>
        <ul>
            <li><b>PoltixeTheDerg</b> - Former Developer and GMT</li>
            <li><b>Andrei</b> - Former BAT</li>
            <li><b>Hivie</b> - Former BAT (Taiko)</li>
        </ul>
    </div>
</div>
