@page "/team"
@model Oldsu.Web.Pages.TeamPage

@{
    Layout = "BaseLayoutWithBanner";
}


/*
    Should we use a database to store the team members?
*/

<body>
<div class="main_content">
    <div class="home_info">
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Maintainers</h2>
        </div>
        <ul>
            <li><b>Eeveelution</b> - Creator and former owner of oldsu!</li>
            <li><b>marshallracer</b> - Current community manager and owner of oldsu!</li>
            <li><b>ayyEve</b> - Developer and server hoster.</li>
            <li><b>jiniux</b> - Fullstack Developer and manager of development branch.</li>
        </ul>
        <p>&nbsp;</p>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Developers &amp; Contributors</h2>
        </div>
        <ul>
            <li><b>miau</b> - Backend developer.</li>
            <li><b>ArNeN</b> - Frontend Developer</li>
            <li><b>TheSkyfox</b> - Frontend Developer</li>
            <li><b>jvyden</b> - Frontend Developer</li>
            <li><b>Flux3on</b> - Fullstack Developer</li>
            <li><b>sech1p</b> - Frontend contributor</li>
            <li><b>Reo</b> - Frontend contributor</li>
        </ul>
        <p>&nbsp;</p>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Global Moderation Team</h2>
        </div>
        <ul>
            <li>marshallracer</li>
            <li>ayyEve</li>
            <li>Demotivated Madman</li>
            <li>TheSkyfox</li>
            <li>witorudo</li>
            <li>ArNeN</li>
            <li>Bassmaster</li>
        </ul>
        <p>&nbsp;</p>
        <div class="home_info_heading_wrapper">
            <h2 class="home_info_heading">Beatmap Approval Team</h2>
        </div>
        <ul>
            <li>marshallracer</li>
            <li>Flux3on</li>
            <li>Bashy</li>
            <li>Bassmaster</li>
            <li>Kaeldori</li>
            <li>flan (Taiko)</li>
            <li>yuki_momoiro722 (Taiko)</li>
            <li>Aljotzi (Taiko)</li>
        </ul>
    </div>
</div>
</body>