@page "/tos"
@model Oldsu.Web.Pages.ToS

@{
    Layout = "BaseLayout";
}

<style>
    .tos_content {
      padding: 20px;
      background-color: #2a2021;
      width: 1250px;
      margin: 0 auto;
      justify-content: center;
      border-radius: 0 0 15px 15px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
      font-family: 'Quicksand', sans-serif;
      color: white;
    }
    
    .tos_content ul {
        list-style: initial;
        margin: initial;
        padding-inline-start: 40px;
    }
    
    .tos_content li {
        list-style: initial;
        margin: initial;
    }
        
    .tos_content p {
        margin: 20px;
    }
</style>

<div class="tos_content" style="display: block">
    <h1>oldsu! terms of service</h1>
    <span>Last Updated 18th August 2021.</span>
    
    <p>oldsu! is offering you a service, which is conditioned on your acceptance, without any modification whatsoever to the following terms, conditions, and notices.</p>
    
    <p><b>oldsu! is in no way affiliated with osu!, peppy, ppy Pty Ltd. or any other related party.</b></p>
    
    <p>By visiting and/or using the services offered by this site (https://oldsu.ayyeve.xyz), the oldsu! game client (as found on https://oldsu.ayyeve.xyz/download) or any affiliated services (henceforth referenced as "oldsu!"), you are acknowledging your full compliance to the terms and conditions listed here.</p>
    
    <p>As a condition of your use of this web site, you warrant that you will not use this web site, or any of the content obtained from this web site, for any purpose that is unlawful or prohibited by these terms.</p>
    
    <p>In addition to this policy, please also make sure to visit and understand our Privacy Policy.</p>
    
    <p>If you violate any of these Terms of Use, your permission to use the web site automatically terminates.</p>
    
    <h3>DESCRIPTION OF SERVICE</h3>
    <p>oldsu! provides online gameplay services free of charge to end users, along with online rankings, listings and means of communication (specifically forums and chat rooms).
    oldsu! also provides users with a means of hosting user created content allowing other users to gain access to uploaded content.</p>
    
    <p>The oldsu! management make no guarantees as to whether any user-uploaded content and information is accurate, current, or of substantial quality.
    We assume no responsibility as to whether objectionable content has been uploaded.
    We assume no responsibility over whether users have the rights to distribute uploaded content.</p>
    
    <h3>MODIFICATIONS TO TERMS OF SERVICE</h3>
    <p>oldsu! may change the terms and conditions of the TOS from time to time.
    Your failure to abide by the modified STS may result in termination of your oldsu! Service.</p>
    
    <p>User's continued use of the Service constitutes: (1) an acknowledgment by User of the STS and its modifications; and (2) an agreement by User to abide and be bound by the TOS and its modifications.</p>
    
    <h3>MODIFICATIONS TO SERVICE</h3>
    <p>oldsu! reserves the right to modify or discontinue the Service with or without notice to User.
    oldsu! shall not be liable to User or any third party should oldsu! exercise its right to modify or discontinue the Service.</p>
    
    <h3>DISCLAIMER OF WARRANTIES</h3>
    <p>USER EXPRESSLY AGREES THAT USE OF THE SERVICE IS AT USER'S SOLE RISK.
    THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS.
    YOU UNDERSTAND AND EXPRESSLY AGREE THAT USE OF OLDSU!'S SERVICES ARE AT YOUR SOLE RISK, THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF OLDSU!'S SERVICES IS AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.
    EXCEPT AS EXPRESSLY SET FORTH ON OUR SITES, OLDSU! DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR TITLE AND IT MAKES NO WARRANTY OR REPRESENTATION REGARDING THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF OLDSU!'S SERVICES, REGARDING THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH OLDSU!'S SERVICES OR THAT OLDSU!'S SERVICES WILL MEET ANY USER'S REQUIREMENTS, BE UNINTERRUPTED, TIMELY, SECURE OR ERROR FREE.
    The links to third party sites on this web site are for your convenience only, and the inclusion of such links within this web site does not imply any endorsement, guarantee, warranty or representation by oldsu!.
    oldsu! user agrees that oldsu! is hereby absolved from any and all liabilities, losses, costs and claims, including attorney's fees asserted against oldsu!, its agents, officers, employees, or associates, that may arise or result from any service provided, performed, be agreed to be performed by oldsu!.
    OLDSU! MAKES NO WARRANTY THAT THE SERVICE WILL MEET YOUR REQUIREMENTS, OR THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE; NOR DOES OLDSU! MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SERVICE OR THAT DEFECTS IN THE SOFTWARE WILL BE CORRECTED.</p>
    
    <h3>LIMITATION OF LIABILITY</h3>
    <p>IN NO EVENT SHALL OLDSU!, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR WEBSITE, (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR WEBSITE BY ANY THIRD PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE OLDSU! WEBSITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    WHILE THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION, WHERE CONDITIONS, WARRANTIES OR OTHER RIGHTS ARE IMPLIED IN THIS AGREEMENT OR OTHERWISE CONFERRED BY LAW, AND IT IS NOT LAWFUL OR POSSIBLE TO EXCLUDE THEM, THEN THOSE CONDITIONS, WARRANTIES OR OTHER RIGHTS WILL (BUT ONLY TO THE EXTENT REQUIRED BY LAW) APPLY TO THIS AGREEMENT.
    AT THE OPTION OF OLDSU!, OUR LIABILITY FOR BREACH OF IMPLIED CONDITIONS OR WARRANTIES IS LIMITED, TO THE EXTENT PERMITTED BY LAW TO, IF THE BREACH RELATES TO GOODS, (I) THE REPLACEMENT OF THE GOODS OR THE SUPPLY OF EQUIVALENT GOODS, (II) THE REPAIR OF THE GOODS, (III) THE PAYMENT OF THE COST OF REPLACING THE GOODS OR OF ACQUIRING EQUIVALENT GOODS, OR (IV) THE PAYMENT OF HAVING THE GOODS REPAIRED AND, IF THE BREACH RELATES TO SERVICES, (I) THE SUPPLY OF THE SERVICES AGAIN; OR (II) THE PAYMENT OF THE COST OF HAVING THE SERVICES SUPPLIED AGAIN.</p>
    
    <p>YOU SPECIFICALLY ACKNOWLEDGE THAT OLDSU! SHALL NOT BE LIABLE FOR USER SUBMISSIONS OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>
    
    <p>The Website is controlled and offered by oldsu! from its facilities in Canada.
    oldsu! makes no representations that the oldsu! Website is appropriate or available for use in other locations.
    Those who access or use the oldsu! Website from other jurisdictions do so at their own volition and are responsible for compliance with local law.</p>
    
    <h3>INDEMNITY</h3>
    <p>You agree to defend, indemnify and hold harmless oldsu!, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to the oldsu! Website; (ii) your violation of any term of these Terms of Service; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that one of your User Submissions caused damage to a third party.
    This defense and indemnification obligation will survive these Terms of Service and your use of the oldsu! Website.</p>
    
    <h3>YOUR USE OF CONTENT ON THE SITE</h3>
    <p>You understand that when using the oldsu! website, you will be exposed to User Submissions from a variety of sources, and that oldsu! is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User Submissions.
    You further understand and acknowledge that you may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against oldsu! with respect thereto, and agree to indemnify and hold oldsu!, its Owners/Operators, affiliates, and/or licensors, harmless to the fullest extent allowed by law regarding all matters related to your use of the site.</p>
    
    <h3>USER SUBMISSIONS AND CONTENT REMOVAL</h3>
    <p>You shall be solely responsible for your own User Submissions and the consequences of posting or publishing them.
    In connection with User Submissions, you affirm, represent, and/or warrant that: you own or have the necessary licenses, rights, consents, and permissions to use and authorize oldsu! to use all patent, trademark, trade secret, copyright or other proprietary rights in and to any and all User Submissions to enable inclusion and use of the User Submissions in the manner contemplated by the Website and these Terms of Service.</p>
    
    <p>In connection with User Submissions, you further agree that you will not submit material that is copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner to post the material and to grant oldsu! all of the license rights granted herein.</p>
    
    <p>oldsu! does not endorse any User Submission or any opinion, recommendation, or advice expressed therein, and oldsu! expressly disclaims any and all liability in connection with User Submissions.
    oldsu! does not permit copyright infringing activities and infringement of intellectual property rights on its Website, and oldsu! will remove all Content and User Submissions if properly notified that such Content or User Submission infringes on another's intellectual property rights.
    oldsu! reserves the right to remove Content and User Submissions without prior notice.</p>
    
    <h3>YOUR RESPONSIBILITIES IN VOLUNTEER POSITIONS</h3>
    <p>oldsu! contains a number of volunteer teams at any given point in time that are drawn directly from the community. Certain teams require extra permissions and access in order to facilitate the community-driven aspect of the game. Such teams are as follows:</p>
    
    <ul>
        <li><b>The Global Moderation Team</b></li>
    </ul>
    
    <p>No users below the age of 16 may attain membership in any of the teams listed above.</p>
    
    <h3>PRIVACY POLICIES</h3>
    <p>oldsu! finds your privacy most important, and we value your use of our services.
    <p>oldsu!'s services are free of any charge, no prior registration is needed for the use of these services.
    oldsu! will explicitly ask for information about you when such information is needed for use of the services provided by oldsu!.
    Any submission of any personal information is done only with your voluntary act (website), or automatically (game client software) where necessary to provide diagnostics and feedback.
    oldsu! keeps all private and personal information private, and does not, or will not share this information with any third parties except under the following circumstances:</p>
    
    <ul><li>When such action is necessary to conform to legal requirements or comply with legal process.</li>
    
        <li>When such action is necessary to protect and defend rights or property of oldsu!.</li>
    
        <li>When such action is necessary to enforce oldsu! terms and conditions of service.</li>
    </ul>
    
    <p>oldsu! may use cookies as part of a tracking process, but cookies will not be used to personally identify you without your prior consent.
    If the user decides to participate in the forum, with user's consent, a cookie will be issued to keep track of the username and password for the period of 1 year.</p>
    
    <h3>PROPRIETARY RIGHTS TO CONTENT</h3>
    
        <p>User acknowledges that content, including but not limited to text, software, music, sound, photographs, video, graphics, name references or other material contained in either sponsor advertisements search results, provided to or accessed by User via the Service ("Content") by oldsu!, is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws; therefore, User is only permitted to use this Content as expressly authorized by the Service.
    User may not copy, reproduce, distribute, or create derivative works from this Content without expressly being authorized to do so by the Service.</p>
    
    <h3>LINKS</h3>
    <p>oldsu! may provide, or Users may include in e-mail, links to other Web sites or resources.
    User acknowledges and agrees that oldsu! is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products, or other materials on or available from such sites or resources.</p>
</div>